body {
  background-color: #f5eef5;
  color: #333;
  font-family: Arial, sans-serif;
}

h1 {
  color: #6c3483;
  text-align: center;
  margin-top: 50px;
}

form {
  max-width: 500px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
  font-size: 16px;
  color: #333;
  background-color: #f5eef5;
}

input[type="submit"] {
  background-color: #6c3483;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #4a235a;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.theme-dots {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.theme-dots:hover {
  opacity: 0.5;
}

#c1 {
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background-color: #fff;
  margin-left: 15px;
}

#c2 {
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background-color: #6c3483;
  margin-left: 15px;
}

#c3 {
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background-color: #333;
  margin-left: 15px;
}
