.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.theme-dots {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.theme-dots:hover {
  opacity: 1;
}

#c1 {
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background-color: #121456;
  /* padding-left: 10px; */
  margin-left: 15px;
}
.buttons {
  display: flex;
}
#c2 {
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background-color: #161613;
  /* padding-left: 10px; */
  margin-left: 15px;
}
#c3 {
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background-color: white;
  /* padding-left: 10px; */
  margin-left: 15px;
}
#c1,
#c2,
#c3 {
  cursor: pointer;
  transition: 0.3s ease-out;
}

#c1:hover,
#c2:hover,
#c3:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

body {
  background-color: #fff; /* change to white */
  color: #333; /* change to a dark color, such as black or dark gray */
  font-family: Arial, sans-serif;
}

h1 {
  color: #333; /* change to a dark color, such as black or dark gray */
  text-align: center;
  margin-top: 50px;
}

form {
  max-width: 500px;
  margin: auto;
  background-color: #ecf0f1; /* change to a light gray */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* change to a darker shadow */
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333; /* change to a dark color, such as black or dark gray */
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* change to a darker shadow */
  font-size: 16px;
  color: #333; /* change to a dark color, such as black or dark gray */
  background-color: #ecf0f1; /* change to a light gray */
}

input[type="submit"] {
  background-color: #333; /* change to a dark color, such as black or dark gray */
  color: #fff; /* change to white */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #f1c40f; /* change to a light yellow */
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
